body, html{
	height: 100%;
}
.topnav{
	background: #D70000;
	overflow: hidden;
}
.topnav a{
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 20px 20px;
	text-decoration:none;
	font-size: 20px;
}
.topnav a:hover{
	background-color: #f7b906;
	color:black;
}
.topnav a.active{
	background-color: #f7b906;
	color: white;

}
.hero-image{
	background-image: url("../img/wtm.jpg");
	height: 90%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}
.hero-text{
	text-align: center;
	position: absolute;
	top: 50%;
	left:50%;
	transform: translate(-50%, -50%);
	color: #D70000;

}
.hero-text h1{
	font-size: 3em;

}
.hero-text a button{
	border-radius: 3px;
	color:red;
	border-color:white;
}

div.menu-img{
	width: 30%;
	display: inline-grid;
	padding: 20px;
}
p.menu-text{
	font-size: 25px;
	text-align: center;
}
img.menu-imgframe{
	width:400px;
	height: 500px;
}










































/*h2

{




























}
/*div{
	height: 300px;
	width: 300px;
	background: red;
}*/
/*.omolewa{
	height: 300px;
	width: 300px;
	background: yellow;
	}
#folake{
	height: 200px;
	width: 200px;
	background: blue;
}
.sweet{
	border-radius: 50px;
	border: 10px solid black;
}*/*/